{% extends 'app/elements/base.html' %}

{% load static %}
{% load i18n %}

{% block title %} {% trans "Admin Register" %} {% endblock title %}
{% block content %}
    <main class="main__form">
        <div class="card-section container">
            <div class="card__section--two">
                <div class="text-center mt-3 mb-5">
                    <h4 class="fw-bold">{% trans "ADMIN REGISTER" %}</h4>
                    <small>{% trans "Have an account already?" %}<a href="{% url 'core:login' %}">{% "login" %}</a></small>
                </div>
                <form method="post" class="needs-validation pb-3" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xl-6 col-sm-12">
                            <label for="validationCustom01" class="form-label">{% trans "First name" %}</label>
                            <input type="text" class="form-control" name="first_name" id="validationCustom01" placeholder="first name..."
                                required>
                            <div class="valid-feedback">
                                {% trans "Looks good!" %}
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <label for="validationCustom02" class="form-label">{% trans "Last name" %}</label>
                            <input type="text" class="form-control" name="last_name" id="validationCustom02" placeholder="last name..."
                                required>
                            <div class="valid-feedback">
                                {% trans "Looks good!" %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-sm-12">
                            <label for="validationCustom03" class="form-label">{% trans "Email" %}</label>
                            <input type="email" class="form-control" name="email" id="validationCustom03"
                                placeholder="example@email.com" required>
                            <div class="invalid-feedback">
                                {% trans "input a valid email!" %}
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <label for="validationCustom03" class="form-label">{% trans "Username" %}</label>
                            <input type="text" class="form-control" name="username" id="validationCustom03"
                                placeholder="......." required>
                            <div class="invalid-feedback">
                                {% trans "input a valid username!" %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-sm-12">
                            <label for="validationCustom04" class="form-label">{% trans "Password" %}</label>
                            <input type="password" class="form-control" name="password1" id="validationCustom04" placeholder="*****"
                                required>
                            <div class="valid-feedback">
                                {% trans "looks good!" %}
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <label for="validationCustom05" class="form-label">{% trans "Confirm Password" %}</label>
                            <input type="password" class="form-control" name="password2" id="validationCustom05" placeholder="*****"
                                required>
                            <div class="valid-feedback">
                                {% trans "looks good!" %}
                            </div>
                        </div>
                    </div>

                    <div class="col-12 my-4">
                        <button class="btn buttons w-100" type="submit">{% trans "Register" %}</button>
                    </div>
                </form>

            </div>

            <div class="card__section--one">
                <img src="{% static './elements/images/9387098.jpg' %}">
            </div>
        </div>
    </main>
{% endblock %}